#tempfiles
*~
make_log.txt

# This file itself.
#.gitignore

#################################################################################
# Vi/Vim swap and backup files.
#################################################################################
.*.swp
.*.swo
*~

#################################################################################
## Vivado files
#################################################################################
#build direcotry
proj/

#all the vivado stuff in the cores directory execpt the xci files
cores/*/*
!cores/*/*.xci

#anything sub directories in the bd directory
bd/*/*

#################################################################################
## config dirs
#################################################################################
configs/*/cores/*/*
!configs/*/cores/*/*.xci

#################################################################################
## Output files
#################################################################################
bit
os
kernel

#################################################################################
## Temp build files
#################################################################################
src/fw_version.vhd

#################################################################################
## documentation
#################################################################################
doc/*/
doc/*.pdf

#################################################################################
## FPGA - Xilinx Vivado log, journal, debug files.
#################################################################################
vivado.jou
vivado.log
vivado_*.backup.jou
vivado_*.backup.log
vivado_pid*.str
vivado_pid*.zip
hs_err_pid*.log
vivado_pid*.debug
SDK.log

#################################################################################
## Temporary directories and files.
#################################################################################
tmp/
*.tmp

