[submodule "bd"]
	path = bd
	url = http://github.com/dgastler/BU_BUILD.git
	branch = develop

[submodule "regmap_helper"]
	path = regmap_helper
	url = https://github.com/BU-Tools/uHAL_AXI_regmap.git
[submodule "src/misc"]
	path = src/misc
	url = https://gitlab.com/BU-EDF/fw-bits/misc-vhdl.git
[submodule "build-scripts"]
	path = build-scripts
	url = https://gitlab.com/BU-EDF/fw-bits/build-scripts.git
	branch = develop
[submodule "configs/MPI_rev1_p1_KU15p-2-SM_USP"]
	path = configs/MPI_rev1_p1_KU15p-2-SM_USP
	url = https://gitlab.com/apollo-lhc/l0mdt/mpi_rev1_p1_ku15p-2.git
