[submodule "bd"]
	path = bd
	url = http://github.com/dgastler/BU_BUILD.git
	branch = develop

[submodule "regmap_helper"]
	path = regmap_helper
	url = https://github.com/BU-Tools/uHAL_AXI_regmap.git
[submodule "src/misc"]
	path = src/misc
	url = https://gitlab.com/BU-EDF/fw-bits/misc-vhdl.git
[submodule "build-scripts"]
	path = build-scripts
	url = https://gitlab.com/BU-EDF/fw-bits/build-scripts.git
	branch = develop
[submodule "configs/Cornell_rev2_p1_VU13p-1-SM_USP_heaters_allQuads25G/FPGA_heater"]
	path = configs/Cornell_rev2_p1_VU13p-1-SM_USP_heaters_allQuads25G/FPGA_heater
	url = https://github.com/apollo-lhc/FPGA_heater.git
[submodule "configs/IT-DTC_p1_VU13p-1/it-dtc-fw"]
	path = configs/IT-DTC_p1_VU13p-1/it-dtc-fw
	url = https://gitlab.com/apollo-lhc/it-dtc/it-dtc-fw.git

