#tempfiles
*~
make_log.txt
*.tar.gz

#################################################################################
## Vivado files
#################################################################################
#build direcotry
proj/

#all the vivado stuff in the cores directory execpt the xci files
cores/*/*
!cores/*/*.xci

#anything sub directories in the bd directory
bd/*/*

#################################################################################
## config dirs
#################################################################################
configs/*/cores/*/*
!configs/*/cores/*/*.xci

#################################################################################
## Output files
#################################################################################
bit
os

#################################################################################
## Temp build files
#################################################################################
src/fw_version.vhd

#################################################################################
## documentation
#################################################################################
doc/*/
doc/*.pdf